<div class="panel panel-primary default">
    <div class="panel-heading">Mail Box</div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>Name</th>
                <th>Address</th>
                <th>Subject</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in MailList.users">
                <td>{{this.$index+1}}</td>
                <td scope="row">
                    <div ng-click="greetingsShown=true">
                        <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" ng-click="MailList.show(this.user.name, this.user.address, this.user.subject, this.user.text); ">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </button>
                </td>
                <td>{{user.name}}</td>
                <td>{{user.address}}</td>
                <td>{{user.subject}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
