/* Styles go here */

.email-client-container {
    overflow: hidden;
    margin-top: 30px;
    border: 1px solid #eee;
    border-radius: 1px;
    padding: 0;
    box-shadow: 1px 1px #ddd;
}

.navigation {
    float: left;
    border-right: 1px solid #eee;
}

.navigation button {
    padding: 20px 40px;
    border-radius: 0 !important;
    color: black;
    border: 0 none;
}
.navigation button:hover {
    background-color: #f6f6f6;
}
.navigation button i {
    display: block;
    font-size: 20px;
}

.email-list-container {
    overflow: hidden;
}
.email-list-container nav {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.email-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.email-list li {
    padding: 4px 10px;
    overflow: hidden;
    cursor: pointer;
}
.email-list li:hover {
    background-color: #f6f6f6;
}
.email-list li span {
    float: left;
    display: block;
}
.email-list .check {
    width: 5%;
}
.email-list .address {
    width: 25%;
}
.email-list .subject {
    width: 60%;
}
.email-list .date {
    width: 10%;
}
